<div class="container">
    <div class="row">
      <div class="span9">
      	<h1>En una galaxia muy muy futura...</h1>


      	<%= link_to image_tag(("wanderlogo.jpg"), class: "img-rounded"), adventures_path  %>
        <p><%= link_to 'Nueva Partida', new_adventure_path() %></p>

      

      </div>
      <div class="span3">
        <h2>Ultimos cambios</h2>
          Nuevo sistema de archivos para gdocs <br/>
          Retirada la opci칩n de subir archivos que fallaba <br/>
          Necesario estar logeado para ver la web<br/>
          a침adido favicon<br/>
          a침adido link a wikirol en la barra de navegaci칩n <br/>



      </div>
    </div>
  </div>
</body>
</html>