<div class="container">
    <div class="row">
      <div class="span9">
      	<h1>En una galaxia muy muy futura...</h1>


      	<%= link_to image_tag(("wanderlogo.jpg"), class: "img-rounded"), adventures_path  %>
        <p><%= link_to 'Nueva Partida', new_adventure_path() %></p>

      

      </div>
    </div>
    <div class="row">
      <div class="span3">
        <h2>Ultimos cambios</h2>
          Nuevo sistema de edición de textos <br/>
          Nueva tipografía <br/>
          Nueva vista general de aventura<br/>
          

      </div>
    </div>
  </div>
</body>
</html>