<div class="container">
    <div class="row">
      <div class="span9">
      	<h1>En una galaxia muy muy futura...</h1>


      	<%= link_to image_tag("warhammer.jpg"), adventure_path(8)  %>





      </div>
      <div class="span3">
        <h2>Estamos trabajando en ello</h2>
        Intentando integración con gdocs
      </div>
    </div>
  </div>
</body>
</html>