<div class="container">
    <div class="row">
      <div class="span9">
      	<h1>En un horror muy muy indescriptible...</h1>


      	<%= link_to image_tag("chulu.jpg"), adventures_path  %>





      </div>
      <div class="span3">
        <h2>Estamos trabajando en ello</h2>
        No funciona la subida de archivos
      </div>
    </div>
  </div>
</body>
</html>