<div class="container">
    <div class="row">
      <div class="span9">
      	<h1>En una galaxia muy muy futura...</h1>


      	<%= link_to image_tag("warhammer.jpg"), adventures_path  %>

        <iframe src="https://docs.google.com/document/d/1aVIehud5OBac9JC6TIRin_KqGLRoxYR_T6yYOuROgEA/pub?embedded=true"></iframe>





      </div>
      <div class="span3">
        <h2>Ultimos cambios</h2>
          Incluido manu como administrador
          Retirada la opción de subir archivos que fallaba
          Necesario estar logeado para ver la web
          



      </div>
    </div>
  </div>
</body>
</html>